@charset "utf-8";
/**********
 * 細かなスタイルパーツ
 */

.search_in {
}
.search_in input[type="text"] {
	width: 80%;
}
.search_in small {
	font-size: 80%;
	color: #999999;
}

.sort_list_box {
	text-align: right;
	padding: 12px;
}